<!DOCTYPE html>
<html>
<head>
  <% include ../partials/_header.ejs %>
</head>

<body>
  <main id="app">

  </main>
  <script type="text/javascript" src="javascripts/bundle.js"></script>
</body>
</html>
